

/* 
common styles
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    
}
/* 
menu style
*/
.head-part{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    height: 677px;
    background: #2D25A0;
    padding: 0px;
    margin: 0;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    width: 1161px;
    height: 44px;
    align-items: center;
    padding: 0px;
    margin:42px 123px 0 156px;
    position: absolute;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 588px;
    height: 24px;
}
.menu a{
    margin: 0px 36px;
}
.log-in{
    padding: 10px 36px;
    background: #E02C6D;
}
/* 
banner
*/
.banner-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 153px 140px 86px 156px;
}
/* .banner-text{
    display: flex;
    flex-direction: column;
} */
.title{
    height: 230px;
    width: 485px;
}
.title h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    text-align: left;
    color: #fff;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
}
.title-link{
    margin-top: 27px;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: 500;
    
}
.title-link>a{
    margin: 0px 8px;
    padding: 10px 20px;
    font-weight: 500;
}
.fa-arrow-right{
    display: inline-block;
    margin-left:  8px;
}
.star-player img{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
}

/* 
player profile part
*/

.container{
    margin: 70px 210px 20px 180px;
}
.profiles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}
.profile{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 566px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.pro-image{
    margin: 0 0 5px 0;
}
.pro-image img{
    width: 270px;
    height: 380px;
}
.pro-details{
    width: 251px;
    height: 171px;
    margin: 0 0 10px 0;
}
.pro-details h1{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    left: calc(50% - 300px/2);
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}
.pro-details p{
    /* font-size: 14px; */
    color: #6C6C6C;
}

/* 
newsteller
*/
.news{
    margin: 165px auto 40px ;
}
.news h1{
    font-size: 64px;
    line-height: 80px;
    color:#18191F;
    margin-bottom: 0;
    margin-left: 15px;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
}

.blogs{
    display: flex;
    justify-content:center;   
    border-radius: 10px;
}

.blog{
    padding: 5px;
    width: 450px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog>a{
    color:#18191F;;
}
.thumbnail{
    width: 450px;
    height: 426px;
    padding-bottom: 10px;
}
.thumbnail img{
    border-radius: 10px;
    width: 437px;
    height: 426px;
}
.headline h2{
    font-size: 30px;
    color:#18191F;
    padding-bottom: 10px;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
}
.news-details p{
    color:#18191F;
}
.news-button{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.news-link:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgba(109, 108, 108, 0.5);
    transition: .5s;
}
.news-link{
    color: #000;
    font-size: 1.2em;
    padding: 15px 40px;
    letter-spacing: 1px;
    background-color:#fff;
    text-align: center;
}
/* 
Online shop
*/

.shopping{
    margin-bottom: 80px;
    margin-top: 80px;
}
.shopping h1{
    padding: 10px 10px 10px 50px;
    font-size: 64px;;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
}
.shop-now{
    display: flex;
    justify-content: space-evenly;
}
.shop-item{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 20px;
    border-radius: 5px;
    background: #F5F5F7;
}
.kit-image img{
    height: 320px;
    width: 300px;
    border-bottom: 5px solid skyblue;
    border-radius: 5px;
}
.kit-details, .kit-price{
    padding: 10px 0 10px 5px;
    font-size: 20px;
}
.kit-price{
    width: 300px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    border-radius: 5px;
}
.buy-button{
    margin: 0;
    padding: 5px 20px;
    background-color: skyblue;
    border-radius: 5px;
}
.kit-price:hover, .buy-button{
    cursor: pointer;
    color: #fff;
    background-color: rgba(109, 108, 108, 0.5);
    transition: .5s;
}


/* 
footer style
*/

footer{
    margin: 0 auto 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 483.87px;
    height: 213px;
}
.club-icon{
    width: 483.87px;
    height: 110px;
}

.club-icon img{
    width: 483.87px;
    height: 110px;
}
.social-media{
    margin: 13px 0;
    align-items: center;
}
.social-media a{
    background: #969BAB;
    margin: 0 14px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 20px;
}
.social-media a i{
    text-align: center;
    height: 32px;
    width: 32px;
    
}

/* 
transition effect
*/
/* .head-part:hover{
    background-color: #2d25a086;
    transition: .8s;
} */
.head-part:hover .title {
    
    transform: scale(1.3) skew(10deg, -15deg);
    transition: .8s;
}
.head-part:hover .star-player {
    transform: scale(1.3) skew(10deg, -15deg);
    transition: .8s;
}
.head-part:hover .title-link {
    transform: translate(130px, 70px) skew(10deg, -15deg) scale(1.3);
    transition: .8s;
}
.head-part:hover .log-in {
    transform: translate(100px, 0px);
    transition: .8s;
}
.head-part:hover .menu{
    transform: scale(1.3);
    transition: .8s;
}



/* 
for mobile device
*/
@media only screen and (max-width:688px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .menu-list{
        display: none;
    }
    body{
        width: 320px;
        border: 1px solid red;
    }
    .headpart{
        width: 100%;
        height: 695px;
    }
    .banner-area{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 ;
    padding: 0;
    width: 100%;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    }
    .banner-text{
        height: 212px;
        width: 278px;
        margin: 112px 0px 30px 16px;
    }
    .title{
    width: 278px;
    height: 138px;
    /* margin: 112px 66px 30px 16px; */
    }
    .title h1{
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        text-align: left;
        /* margin: 112px 66px 30px 16px; */
        text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .title-link{
    width: 168px;
    height: 44px;
    background: #E02C6D;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    margin: 0 0px 50px 5px;
    position: absolute;
    }
    .star-player{
        margin: 0px 0px 61px 0px;
    }
    .star-player img{
        width: 300px;
        height: 259.17px;
        margin: 0;
    }
    .container{
        width: 320px;
        margin: 50px auto;
    }
    .profiles{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
        }
    .profile{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 550px;
        
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        
    }
    .pro-image img{
        width: 250px;
        height: 380px;
    }
    .news{
        margin: 165px auto 40px ;
    }
    .news h1{
        font-size: 36px;
        line-height: 50px;
        color:#18191F;
        text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .blogs{
        display: flex;
        flex-direction: column;
        justify-content:center;   
        border-radius: 10px;
    }
    .blog{
        padding: 5px;
        width: 300px;
        margin: auto;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    .blog>a{
        color:#18191F;;
    }
    .thumbnail{
        width: 280px;
        height: 426px;
        padding-bottom: 10px;
    }
    .thumbnail img{
        border-radius: 10px;
        width: 285px;
        height: 426px;
    }
    .headline h2{
        font-size: 25px;
        color:#18191F;
        padding-bottom: 10px;
        text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .news-details p{
        color:#18191F;
    }
    .shopping h1{
        padding: 10px 10px 10px 50px;
        font-size: 36px;;
        text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .shop-now{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    footer{
        margin: 0 auto 63px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 213px;
    }
    .club-icon{
        width: 320px;
        height: 110px;
    }

    .club-icon img{
        width: 300px;
        height: 110px;
    }
    }