

/* 
common styles
*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
/* 
menu style
*/
.head-part{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 1440px;
    height: 677px;
    background: #2D25A0;
    padding: 0px;
    margin: 0;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    width: 1161px;
    height: 44px;
    align-items: center;
    padding: 0px;
    margin:42px 123px 0 156px;
    position: absolute;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 588px;
    height: 24px;
}
.menu a{
    margin: 0px 36px;
}
.log-in{
    padding: 10px 36px;
    background: #E02C6D;
}
/* 
banner
*/
.banner-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 153px 140px 86px 156px;
}
.banner-text{
    display: flex;
    flex-direction: column;
}
.title{
    height: 230px;
    width: 485px;
}
.title h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    text-align: left;
    color: #fff;
}
.title-link{
    margin-top: 27px;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: 500;
    
}
.title-link>a{
    margin: 0px 8px;
    padding: 10px 20px;
    font-weight: 500;
}
.fa-arrow-right{
    display: inline-block;
    margin-left:  8px;
}
.star-player img{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
}

/* 
player profile part
*/

.container{
    margin: 70px 210px 20px 180px;
}
.profiles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}
.profile{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 426px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.pro-image{
    margin: 0 0 16px 0;
}
.pro-image img{
    width: 300px;
    height: 256px;
}
.pro-details{
    width: 300px;
    height: 154px;
    margin: 0 0 10px 0;
}
.pro-details h1{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    left: calc(50% - 300px/2);
}
.pro-details p{
    font-size: 16px;
    color: #6C6C6C;
}

/* 
newsteller
*/
.news{
    margin: 165px auto 40px ;
}
.news h1{
    font-size: 64px;
    line-height: 80px;
    color:#18191F;
    margin-bottom: 0;
    margin-left: 15px;
}

.blogs{
    display: flex;
    justify-content:center;   
    border-radius: 10px;
    background: rgba(194, 227, 238, 0.171);
}

.blog{
    padding: 5px;
    width: 450px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog>a{
    color:#18191F;;
}
.thumbnail{
    width: 450px;
    height: 426px;
    padding-bottom: 10px;
}
.thumbnail img{
    border-radius: 10px;
    width: 450px;
    height: 426px;
}
.headline h2{
    font-size: 40px;
    color:#18191F;
    padding-bottom: 10px;
}
.news-details p{
    color:#18191F;
}
.news-button{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.news-link:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgba(109, 108, 108, 0.5);
    transition: .5s;
}
.news-link{
    color: #000;
    font-size: 1.2em;
    padding: 15px 40px;
    letter-spacing: 1px;
    background-color:#fff;
    text-align: center;
}
/* 
Online shop
*/


.shop-now{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
    margin-top: 80px;
}
.shop-item{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 20px;
    border-radius: 5px;
}
.kit-image img{
    height: 320px;
    width: 250px;
    border-bottom: 5px solid blue;
    border-radius: 5px;
}
.kit-details, .kit-price{
    padding: 10px 0 10px 5px;
    font-size: 20px;
}
.kit-price{
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;
    border-radius: 5px;
}
.buy-button{
    margin: 0;
    padding: 5px 40px;
    background-color: lightgreen;
    border-radius: 5px;
}
.kit-price:hover, .buy-button{
    cursor: pointer;
    color: #fff;
    background-color: rgba(109, 108, 108, 0.5);
    transition: .5s;
}


/* 
footer style
*/

footer{
    margin: 0 auto 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 483.87px;
    height: 213px;
}
.club-icon{
    width: 483.87px;
    height: 110px;
}

.club-icon img{
    width: 483.87px;
    height: 110px;
}
.social-media{
    margin: 13px 0;
    align-items: center;
}
.social-media a{
    background: #969BAB;
    margin: 0 14px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 20px;
}
.social-media a i{
    text-align: center;
    height: 32px;
    width: 32px;
    
}